{% extends "base.html" %}

{% block header %}
    {% load static %}
    <link href="{% static 'my_account/css/login.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div>
        <h1>Увійти</h1>
        <div class="signup-message">
            <p>Якщо у вас ще немає облікового запису,<br> будь ласка, <a href="{% url 'account_signup' %}">зареєструйтесь</a> спочатку.</p>
        </div>
        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <p>
                <label for="id_login">Ім'я користувача:</label>
                {{form.login}}
            </p>
            <p>
                <label for="id_password">Пароль:</label>
                {{form.password}}
            </p>
            <p>
                <label for="id_remember">Запам'ятати мене:</label>
                {{form.remember}}
            </p>
            <button type="submit" class="signin">Увійти</button>
            <span class="helptext" id="id_password_helptext">
                <a href="{% url 'account_reset_password' %}">Забули пароль?</a>
            </span>
        </form>
    </div>
{% endblock %}
