{% extends "base.html" %}

    {% block header %}
        {% load static %}
        <title>Вийти</title>
        <link href="{% static 'my_account/css/signout.css'%}" rel="stylesheet">
    {% endblock%}

    {% block content %}
<div>
    <h1>Вийти</h1>
    <p>Ви впевнені, що хочете вийти?</p>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <button type="submited" class="submitted" name="action" value="signout">Sign Out</button>
        <a href="{% url 'dream_list' %}"><button type="button" class="declined">Not Sign Out</a></button></a>
    </form>

</div>
    {% endblock%}
