<!DOCTYPE html>
<html lang="uk">
<head>
    <link href="style1.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Змінити пароль</title>
    
    <script>
        function showHints() {
            document.getElementById('passwordHints').style.display = 'block';
        }

        function hideHints() {
            document.getElementById('passwordHints').style.display = 'none';
        }
    </script>
</head>
<body>
    <header>
        <a href="/"><img src="logo1.png" ></a>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000/accounts/login/">Увійти</a></li>
                <li><a href="http://127.0.0.1:8000/accounts/signup/">Зареєструватися</a></li>
                <li><a href="#">Допомога</a></li>
            </ul>
        </nav>
        <form class="searchbox" action="">
            <input type="search" placeholder="Пошук" />
            <button type="submit" value="search">&nbsp;</button>
        </form>
    </header>
    
    <div>
        <h1>Змінити пароль</h1>
        <form method="post" action="http://127.0.0.1:8000/accounts/password/change/">
            <input type="hidden" name="csrfmiddlewaretoken" value="CKxACNNTsNomVyBdf4NGO0yq4fEzBrNuEvixk6wtloc60iuL5JSULw2Xwu1fl4zb">
            
            <p>
                <label for="id_oldpassword">Поточний пароль:</label>
                <input type="password" name="oldpassword" placeholder="Поточний пароль" autocomplete="current-password" required id="id_oldpassword">
            </p>

            <p>
                <label for="id_password1">Новий пароль:</label>
                <input type="password" name="password1" placeholder="Новий пароль" autocomplete="new-password" required id="id_password1" onfocus="showHints()" onblur="hideHints()">
            </p>
            <div class="password-hints" id="passwordHints">
                <p>Підказки</p>
                <ul>
					                    <li>1. Ваш пароль повинен містити щонайменше 8 символів.</li><br><br><br>
                    <li>2. Ваш пароль повинен містити щонайменше 8 символів.</li><br><br><br>
                    <li>3. Ваш пароль не може бути загальновживаним паролем.</li><br><br>
                    <li>4. Ваш пароль не може бути повністю числовим.</li><br>
                </ul>
            </div>

            <p>
                <label for="id_password2">Новий пароль (ще раз):</label>
                <input type="password" name="password2" placeholder="Новий пароль (ще раз)" required id="id_password2">
            </p>

            <button class="change">Змінити пароль</button>
            <a href="http://127.0.0.1:8000/accounts/password/reset/">Забули пароль?</a>
        </form>
        <div class="signup-message">
            <p>Якщо ви ще не створили обліковий запис,<br> будь ласка, <a href="http://127.0.0.1:8000/accounts/signup/">зареєструйтеся</a> спочатку.</p>
        </div>
    </div>
    
    <footer>
        <ul>
            <li><a href="#">Політика конфіденційності</a></li>
            <li><a href="#">Умови використання</a></li>
            <li><a href="#">Контакти</a></li>
        </ul>
    </footer>
</body>
</html>