{% extends "base.html" %}

{% block header %}
    {% load static %}
    <link href="{% static 'my_account/css/password_reset_from_key.css'%}" rel="stylesheet">
    <title>Зміна пароля</title>
{% endblock %}

{% block content %}
    <div>
        <strong>Меню:</strong>
        <ul>
            <li>
                <a href="{% url 'account_login' %}">Увійти</a>
            </li>
            <li>
                <a href="{% url 'account_signup' %}">Реєстрація</a>
            </li>
        </ul>
    </div>

    <h1>Зміна пароля</h1>

    <form method="post" action="{% url 'account_reset_password_from_key' uidb36=uid key=key %}">
        {% csrf_token %}
        <p>
            <label for="id_password1">Новий пароль:</label>
            <input type="password" name="password1" placeholder="Новий пароль" autocomplete="new-password" required="" aria-describedby="id_password1_helptext" id="id_password1">
            <span class="helptext" id="id_password1_helptext"></span>
        </p>
        <ul>
            <li>Ваш пароль не повинен бути занадто схожим на іншу особисту інформацію.</li>
            <li>Ваш пароль має містити принаймні 8 символів.</li>
            <li>Ваш пароль не може бути поширеним.</li>
            <li>Ваш пароль не може складатися лише з чисел.</li>
        </ul>

        <p>
            <label for="id_password2">Новий пароль (ще раз):</label>
            <input type="password" name="password2" placeholder="Новий пароль (ще раз)" required="" id="id_password2">
        </p>

        <button name="action" type="submit">Змінити пароль</button>
    </form>
{% endblock %}
