{% extends "base.html" %}
{% block header %}

    {% load static %}

    <link href="{% static 'my_account/css/password_change.css' %}" rel="stylesheet">
    <title>Змінити пароль</title>
    
    <script>
        function showHints() {
            document.getElementById('passwordHints').style.display = 'block';
        }

        function hideHints() {
            document.getElementById('passwordHints').style.display = 'none';
        }
    </script>
{% endblock %}

{% block content %}
    <div>
        <h1>Змінити пароль</h1>
        <form method="post" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            <p>
                <label for="id_oldpassword">Поточний пароль:</label>
                <input type="password" name="oldpassword" placeholder="Поточний пароль" autocomplete="current-password" required id="id_oldpassword">
            </p>

            <p>
                <label for="id_password1">Новий пароль:</label>
                <input type="password" name="password1" placeholder="Новий пароль" autocomplete="new-password" required id="id_password1" onfocus="showHints()" onblur="hideHints()">
            </p>
            <div class="password-hints" id="passwordHints">
                <p>Підказки</p>
                <ul>
					                    <li>1. Ваш пароль повинен містити щонайменше 8 символів.</li><br><br><br>
                    <li>2. Ваш пароль повинен містити щонайменше 8 символів.</li><br><br><br>
                    <li>3. Ваш пароль не може бути загальновживаним паролем.</li><br><br>
                    <li>4. Ваш пароль не може бути повністю числовим.</li><br>
                </ul>
            </div>

            <p>
                <label for="id_password2">Новий пароль (ще раз):</label>
                <input type="password" name="password2" placeholder="Новий пароль (ще раз)" required id="id_password2">
            </p>

            <button class="change">Змінити пароль</button>
            <a href="{% url 'account_reset_password' %}">Забули пароль?</a>
        </form>
        <div class="signup-message">
            <p>Якщо ви ще не створили обліковий запис,<br> будь ласка, <a href="{% url 'account_signup' %}">зареєструйтеся</a> спочатку.</p>
        </div>
    </div>
{% endblock %}