{% extends "base.html" %}

{% block header %}
    {% load static %}
    <title>Скидання пароля</title>
    <link href="{% static 'my_account/css/password_reset.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div>
        <h1>Password Reset</h1>

        <p style="padding-left: 10px; padding-right: 10px;line-height: 1.0;">
            Забули свій пароль? Введіть свою електронну адресу нижче,<br> і ми надішлемо вам електронний лист, який дозволить вам його скинути.
        </p>
        <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            <p>
                <label for="id_email">Email:</label>
                {{ form.email }}
            </p>
            <button type="submit" class="subreq">Скинути мій пароль</button>
        </form>
        <p style="font-size:15px;">
            Будь ласка, зв'яжіться з нами, якщо у вас виникли проблеми зі скиданням пароля.
        </p>
    </div>
{% endblock %}
