{% extends "base.html" %}
{% block header %}

    {% load static %}
    <link href="{% static 'my_account/css/password_change_done.css'%}" rel="stylesheet">
    <title>Зміна пароля</title>
{% endblock %}

{% block content %}
    <div>
        <h1>Зміна пароля</h1>
        <p>Ваш пароль успішно змінено.</p>
        <div class="signup-message">
            <p>Якщо у вас ще немає облікового запису,<br> будь ласка, <a href="{% url 'account_signup' %}">зареєструйтесь</a> спочатку.</p>
        </div>
    </div>
{% endblock %}
