{% extends "base.html" %}
{% block header %}

    {% load static %}
    <link href="{% static 'my_account/css/password_reset_done.css'%}" rel="stylesheet">
    
    <title>Password Reset</title>
{% endblock %}

{% block content %}

    <div>
        <h1>Password Reset</h1>
        <p>
            <strong>Note:</strong> You are already logged in as NaStas.
        </p>
        <p>
            We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
        </p>
        <div class="signup-message">
            <p>If you have not created an account yet,<br> then please <a href="http://127.0.0.1:8000/accounts/signup/">sign up</a > first.</p>
        </div>
    </div>
{%endblock%}