{% extends "base.html" %}

{% block header %}
    {% load static %}
    <title>Password Reset</title>
    <link href="{% static 'my_account/css/password_reset.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div>
        <h1>Password Reset</h1>

        <p style="padding-left: 10px; padding-right: 10px;line-height: 1.0;">
            Forgotten your password? Enter your email address below,<br> and we'll send you an email allowing you to reset it.
        </p>
        <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            <p>
                <label for="id_email">Email:</label>
                {{ form.email }}
            </p>
            <button type="submit" class="subreq">Reset My Password</button>
        </form>
        <p style="font-size:15px;">
            Please contact us if you have any trouble resetting your password.
        </p>
    </div>
{% endblock %}
