{% extends "base.html" %}

    {% block header %}
        {% load static %}
        <title>Змінити пароль та підтвердити електронну пошту</title>
        <link href="{% static 'my_account/css/email_verification_sent.css'%}" rel="stylesheet">

    {% endblock %}

    {% block content %}
    <h1>Це мій кастомний шаблон confirm-email</h1>
    <div>
        <h1>Підтвердження електронної пошти</h1>
        <p>Ми надіслали вам електронний лист для підтвердження. Слідуйте за посиланням, щоб завершити процес реєстрації. Якщо ви не бачите листа підтвердження у вашій основній поштовій скриньці, перевірте папку спаму. Будь ласка, зв'яжіться з нами, якщо ви не отримали листа підтвердження протягом кількох хвилин.</p>
    </div>


    {% endblock %}