body {
            background-color: #f5f5f5;
            display: flex;
            margin: 0;
            font-family: Arial, sans-serif;
            flex-direction: column;
            align-items: center;
        }

        header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }

        div {
            height: 300px;
            width: 450px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            margin: 190px auto;
            padding: 10px; /* Додано відступи */
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline;
            margin: 0 10px;
        }

        form {
            text-align: center;
        }

        input {
            margin: 5px;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
        }

        label {
            display: inline-block;
            width: 120px; /* Вирівнювання */
            text-align: right;
            margin-right: 10px;
        }

        input[type="text"],
        input[type="password"] {
            width: 200px; /* Ширина полів */
            padding: 5px;
            margin: 5px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button.signin {
            padding: 10px 70px;
            background-color: #41D636;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            display: block;
            margin: 0 auto; /* Центрування кнопки */
        }

        button.signin:hover {
            background-color: #22591d;
        }

        .signup-message {
            height: auto; /* Set height to auto to adjust based on content */
            width: 270px;
            background-color: #e9f7ef;
            border: 1px solid #b2ebf2;
            border-radius: 5px;
            margin: 0 auto;
            font-size: 0.8rem;
            text-align: center;
            display: inline-block;
            padding: 10px; /* Додано відступи для тексту */
        }