

        header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }

        div {
            height: 340px;
            width: 480px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            margin: 170px auto;
            padding: 0px; /* Додано відступи */
        }

        ul {
            list-style-type: none;
            padding: 0;
            text-align:left;
        }

        li {
            display: inline;
            margin: 0 10px;
        }

        form {
            text-align: center;
        }

        input {
            margin: 5px;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
        }

        label {
            display: inline-block;
            width: 180px; /* Вирівнювання */
            text-align: right;
            margin-right: 10px;
        }

        input[type="text"],
        input[type="password"] {
            width: 200px; /* Ширина полів */
            padding: 5px;
            margin: 5px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .signup-message {
            height: 50px; /* Висота блоку */
            width: 270px; /* Ширина блоку */
            background-color: #e9f7ef; /* Колір фону */
            border: 1px solid #b2ebf2; /* Межа */
            border-radius: 5px; /* Закруглення кутів */
            margin: 0 auto; /* Центрування блоку */
            font-size: 0.8rem;
            margin-top: 10px; /* Виправлено на 10px */
            text-align: center; /* Вирівнювання тексту по центру */
            display: inline-block; /* Встановлення блоку в рядок для центрування */
        }

        .password-hints {
            height: 280px;
            width: 300px; /* Виправлено на 200px */
            display: none; /* Сховати підказки за замовчуванням */
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            position: absolute;
            z-index: 1000;
            left: 80%;
            transform: translateX(-50%);
            top: 20px;
            margin-left: 10px;
            text-align: left;
        }

        button.change {
            height: 35px;
            width: 160px;
            background-color: #41D636;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 10px;
        }

        button.change:hover {
            background-color: #22591d;
        }

        /* Додано стиль для зменшення простору між рядками */
        .password-hints ul {
            line-height: 1; /* Зменшено відстань між рядками */
        }
