.donation-container {
    width: 450px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

.explanation {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 20px;
}

.donation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 90%;
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 5px;
    display: inline-block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.donate-button {
    padding: 10px 50px;
    background-color: #41D636;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
}

.donate-button:hover {
    background-color: #22591d;
}

.donation-complete-message {
    font-size: 1rem;
    color: #555;
    margin-top: 20px;
}
