{% extends "base.html" %}

{% block header %}

    {% load static %}
    <link href="{% static 'dreams/css/private_polycy.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<div>
    <h1>Політика конфіденційності</h1>
    <p>Останнє оновлення: 08 листопада 2024 року</p>
    <p>Ця Політика конфіденційності описує наші політики та процедури щодо збору, використання та розкриття вашої інформації, коли ви користуєтеся Послугою, і повідомляє вас про ваші права на конфіденційність та про те, як закон захищає вас.</p>
    <p>Ми використовуємо ваші персональні дані для надання та покращення Послуги. Використовуючи Послугу, ви погоджуєтеся на збір і використання інформації відповідно до цієї Політики конфіденційності. Ця Політика конфіденційності була створена за допомогою <a href="https://www.termsfeed.com/privacy-policy-generator/" target="_blank">Генератора політики конфіденційності</a>.</p>
    
    <h2>Тлумачення та визначення</h2>
    <h3>Тлумачення</h3>
    <p>Слова, перша літера яких написана з великої літери, мають значення, визначене в наступних умовах. Наступні визначення матимуть однакове значення незалежно від того, чи з'являються вони в однині чи множині.</p>
    
    <h3>Визначення</h3>
    <p>Для цілей цієї Політики конфіденційності:</p>
    <ul>
        <li><strong>Обліковий запис</strong> означає унікальний обліковий запис, створений для вас, щоб отримати доступ до нашої Послуги або частин нашої Послуги.</li>
        <li><strong>Філія</strong> означає юридичну особу, яка контролює, контролюється або перебуває під спільним контролем з боку сторони, де "контроль" означає володіння 50% або більше акцій, часток капіталу або інших цінних паперів, які мають право голосу на виборах директорів або іншого керівного органу.</li>
        <li><strong>Компанія</strong > означає компанію, яка надає Послугу, що описується в цій Політиці конфіденційності.</li>
        <li><strong>Послуга</strong> означає веб-сайт, який ви використовуєте для доступу до нашої послуги.</li>
        <li><strong>Користувач</strong> означає особу, яка отримує доступ до Послуги або використовує її.</li>
        <li><strong>Персональні дані</strong> означають будь-яку інформацію, яка стосується ідентифікованої або ідентифікованої особи.</li>
    </ul>
    
    <h2>Збір та використання ваших персональних даних</h2>
    <p>Ми збираємо різні типи інформації для різних цілей, щоб надати та покращити нашу Послугу.</p>
    
    <h3>Типи даних, які ми збираємо</h3>
    <ul>
        <li><strong>Персональні дані</strong> - під час використання нашої Послуги ми можемо попросити вас надати нам певну особисту інформацію, яка може бути використана для зв'язку з вами.</li>
        <li><strong>Дані використання</strong> - ми також можемо збирати інформацію про те, як Послуга використовується.</li>
    </ul>
    
    <h2>Використання ваших персональних даних</h2>
    <p>Компанія може використовувати персональні дані для наступних цілей:</p>
    <ul>
        <li>Для надання та підтримки нашої Послуги.</li>
        <li>Для сповіщення вас про зміни в нашій Послузі.</li>
        <li>Для дозволу на участь у інтерактивних функціях нашої Послуги, коли ви цього бажаєте.</li>
    </ul>

</div>
{% endblock %}
